
<nav class="navbar">
    <div>
        <a href="/"> Home </a> 
        <span> | </span>
        <a href="/tutorials">All Tutorials</a>
        <span> | </span>
        <a href="/tutorials/new">Create New Tutorial</a>
    </div>
    <div class="navbar-menu navbar-end">
        
    </div>
</nav>