<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs',{ pageName :  "Home" }) %>
    <link rel="stylesheet" href="main.css">
<body class="home">

    <%- include('partials/nav.ejs')%>
    <h2 class="homepage">Welcome to Zach's Website!</h2>
    <% for(let i = 0; i < 40; i++) { %>
        <br/>
    <% } %>
</body>
</html>