<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs',{ pageName :  "Home" }) %>

<body class="home">

    <%- include('partials/nav.ejs')%>
    <h2 class="homepage">Welcome to Zach's Website!</h2>
    <% for(let i = 0; i < 50; i++) { %>
        <br/>
    <% } %>
    <section class="single">

    </section>
</body>
</html>